<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<div class="container">
  <h1>アルバム一覧</h1>
  <div class="album-collection">
    <div class="album-collection-cell" th:each="album : ${albums}">
      <a th:href="${'/album/' + album.id}">
        <span th:text="${album.title}"></span>
      </a>
      <span th:text="${album.photoIds.toString()}"></span>
      <br />
    </div>
  </div>
</div>
</body>
</html>
