<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title th:text="${'PhotoAlbum: ' + album.title}"></title>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
</head>
<body>
<div id="container" class="container">
  <h1 th:text="${album.title}"></h1>
  <p th:text="${album.description}"></p>
  <div class="photo-collection">
    <div class="photo-collection-cell" th:each="photo : ${photos}">
      <a th:href="${'/photo/' + photo.id}">
        <img th:src="${'/photo/' + photo.id}" th:alt="${photo.id}" />
      </a>
      <span th:text="${photo.getFileName()}"></span>
    </div>
  </div>
  <div class="form-container">
    <input id="input-images" type="file" accept="image/*" name="images[]" multiple="multiple" />
  </div>
</div>
<script src="/js/script.js"></script>
</body>
</html>
